[flake8]
ignore = D203, W503, E203
exclude =
    .y*ml
    .tox,
    .git,
    venv,
    env,
    __pycache__,
    *.pyc,
    *.egg-info,
    .cache,
    .eggs,
    dist,
    build,
    prototypes,
    cli_args.py
    notebooks
max-complexity = 10