
Imported from [[Imported from::{{ ns_prefix }}:{{ term_name }}]]

Equivalent URI [[Equivalent URI::{{ term_dict['term'] }}]]

{% if term_dict['subclassof'] and term_dict['subclassof'] != '' %}
Subcategory of [[:Category:{{ term_dict['subclassof']|url_termination }}]] [[Category:{{ term_dict['subclassof']|url_termination }}]]
{% endif %}

{% if term_description %}Term description: [[Has property description::{{ term_description }}@{{ term_description_lang }}]]{% endif %}

[[Category:Imported vocabulary]] [[Category:{{ ns_prefix|upper }}]]