
Imported from [[Imported from::{{ ns_prefix }}:{{ item_name }}]]

Equivalent URI [[Equivalent URI::{{ item['subject'] }}]]

Has type [[Has type::{{ item['smw_datatype'] }}]]

{% if item['domain']  %}
Domain [[Domain::Category:{{ item['domain']|url_termination }}]]
{% endif %}

{% if item['subpropertyof']  %}
Subcategory of [[Subproperty of::{{ item['subpropertyof']|url_termination }}]]
{% endif %}

{% if term_description %}Property description: [[Has property description::{{ term_description }}@{{ term_description_lang }}]]{% endif %}

{{ item['smw_import_info'] }}
