{{ page_info['ontology_ns'] }}|[{{ page_info['ontology_ns'] }} {{ page_info['ontology_name'] }}]
{% for resource_tuple in item %}
 {{ resource_tuple[0] }}|{{ resource_tuple[1] }}
{%- endfor %}

[[Category:Imported vocabulary]] [[Category:{{ ns_prefix|upper }}]]