
Imported from [[Imported from::{{ ns }}:{{ item_name }}]]

Equivalent URI [[Equivalent URI::{{ item['subject'] }}]]

{% if 'aeon' in item['subclassof']  %}  {# exclude subClassOf of other NS #}
Subcategory of [[:Category:{{ item['subclassof']|urlfragment }}]] [[Category:{{ item['subclassof']|urlfragment }}]]
{% endif %}

{{ item['smw_import_info'] }}
