
Imported from [[Imported from::{{ ns }}:{{ item_name }}]]

Equivalent URI [[Equivalent URI::{{ item_dict['subject'] }}]]

{% if item_dict['subclassof'] %}
[[Category:{{ item_dict['subclassof']| }}]]
{% endif %}

{{ item_dict['smw_import_info'] }}