
Imported from [[Imported from::{{ ns }}:{{ item_name }}]]

Equivalent URI [[Equivalent URI::{{ item_dict['subject'] }}]]

{% if 'aeon' in item_dict['subclassof']  %}  {# exclude subClassOf of other NS #}
Subcategory of [[:Category:{{ item_dict['subclassof']|urlfragment }}]] [[Category:{{ item_dict['subclassof']|urlfragment }}]]
{% endif %}

{{ item_dict['smw_import_info'] }}