
Imported from [[Imported from::{{ ns }}:{{ item_name }}]]

Equivalent URI [[Equivalent URI::{{ item_dict['subject'] }}]]

Has type [[Has type::{{ item_dict['smw_datatype'] }}]]


{{ item_dict['smw_import_info'] }}
