
Imported from [[Imported from::{{ ns }}:{{ item_name }}]]

Equivalent URI [[Equivalent URI::{{ item['subject'] }}]]

Has type [[Has type::{{ item['smw_datatype'] }}]]

{% if item['domain']  %}
    Domain [[Domain::Category:{{ item['domain']|urlfragment }}]]
{% endif %}

{% if item['subpropertyof']  %}
Subcategory of [[Subproperty of::{{ item['subpropertyof']|urlfragment }}]]
{% endif %}

{{ item['smw_import_info'] }}
