
Imported from [[Imported from::{{ ns }}:{{ item_name }}]]

Equivalent URI [[Equivalent URI::{{ item['subject'] }}]]

Has type [[Has type::{{ item['smw_datatype'] }}]]


{{ item['smw_import_info'] }}
